h1 {
    text-align: center;
    font-size: 70px;
}

body {
    color: #466c95;
    background-color: #f6f49d;
    font-family: "Monospace";
    margin-top: 100px;
}

.pomodoro {
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 30%;
    margin-right: 30%;
    background-color: #5dae8b;
    border-radius: 25px;
}

.progress {
    margin-top: 50px;
    margin-left: 25%;
    margin-right: 25%;
}

#timer {
    font-size: 50px;
}
