body {
  background-color: grey;
}

svg {
  display: block;
  margin: auto;
}

.buttonHighlighted {
  fill-opacity: 0.5;
}

.colorButton {
  stroke: black;
  stroke-width: 10;
}

.buttonShadow {
  -webkit-filter: drop-shadow( 5px 5px 5px #000 );
  filter: drop-shadow( 5px 5px 5px #000 ); /* Same syntax as box-shadow */
}

#gameName {
  font-size: 60px;
}

#scoreDisplay {
  fill:rgb(50,50,50);
  stroke:black;
  stroke-width:2;
  opacity:0.8;
}

#scoreDisplayText {
  font-size: 40px;
}
