body {
    /*
    background-color: #fad662;
    background-color: #f7c873;
    background-color: #fce38a;
    */
    background-color: #0e5f76;
    font-family: monospace;
    color: white;
}

h1 {
    text-align: center;
    text-shadow: 1px 1px;
}

img {
    width: 40%;
    height: auto;
}

#searchChannel {
    color: black;
}

#online {
    color: green;
}

#offline {
    color: red;
}

.online {
    font-size: 18px;
}

.offline {
    font-size: 18px;
}
