html, body {
    height:100%;
    width:100%;
    padding:0px;
    margin:0px;
    color: white;
    font-family: "Comic Sans MS", cursive, sans-serif;
} 

table {
    margin-top: 20px;
}

table, th, td {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: middle;
}

h1 {
    text-align: center;
    font-size: 40px;
}

a {
    color: white;
    text-decoration: none;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed; 
    z-index: 1; 
    left: 0%;
    top: 0%;
    background-color: rgba(0,0,0,0.7);
    overflow-x: hidden;
    transition: 0.3s;
}

#overlay-content {
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    width: 400px;
    height: 500px;
}

#cityName {
    text-align: center;
    font-size: 30px;
}

#coordinates {
    text-align: center;
}

#wind, #temperature {
    text-align: center;
}

#map {
    height:100%;
    width:100%;
    padding:0px;
    margin:0px;
}
