* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: black;
    padding-top: 50px;
}

h1 {
    text-align: center;
    font-size: 60px;
    color: yellow
}

h2 {
    text-align: center;
    color: yellow;
    font-size: 40px;
    padding-top: 30%;
}

.field {
    margin: auto;
    padding-top: 50px;
    width: 600px;
    height: 600px;
}

.fieldElement {
    display: inline-block;
    float: left;
    width: 33.3333%;
    height: 200px;
    border-width: 5px;
    border-style: solid;
    border-color: black;
    background-color: green;
}

.elements {
    color: yellow;
    text-align: center;
}


.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 30%;
    width: 30%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 35%;
    top: 35%;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
}

#heading {
    text-align: center;
    color: yellow;
}

table {
    margin-left: auto;
    margin-right: auto;
}


#menu {
    color: green;
}

.pickSymbol {
    border-style: solid;
    font-size: 40px;
    color: yellow;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.pickSymbol:hover, .pickSymbol:focus {
    color: #f1f1f1;
}
